django
djangorestframework
coreapi
psycopg2-binary
psycopg2
dj-database-url
gunicorn
whitenoise
PyYAML
Pillow
drf-renderer-xlsx
uwsgi
django-cors-headers
django-timedeltafield
django-filter
django-import-export